<footer class="footer">
    <div class="container-max">
        <div class="footer__box">
            <div class="footer__box--social">
                <ul class="footer__box--social__list">
                    <li class="footer__box--social__list--item">
                        <a
                            href=""
                            class="footer__box--social__list--item__link"
                        >
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="footer__box--social__list--item">
                        <a
                            href=""
                            class="footer__box--social__list--item__link"
                        >
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="footer__box--social__list--item">
                        <a
                            href=""
                            class="footer__box--social__list--item__link"
                        >
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="footer__box--social__list--item">
                        <a
                            href=""
                            class="footer__box--social__list--item__link"
                        >
                            <i class="fa-brands fa-pinterest"></i>
                        </a>
                    </li>
                    <li class="footer__box--social__list--item">
                        <a
                            href=""
                            class="footer__box--social__list--item__link"
                        >
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__box--menu">
                <ul class="footer__box--menu__list">
                    <li class="footer__box--menu__list--item">
                        <a href="" class="footer__box--menu__list--item__link"
                            >About</a
                        >
                    </li>
                    <li class="footer__box--menu__list--item">
                        <a href="" class="footer__box--menu__list--item__link"
                            >Reservation</a
                        >
                    </li>
                    <li class="footer__box--menu__list--item">
                        <a href="" class="footer__box--menu__list--item__link"
                            >Contact</a
                        >
                    </li>
                    <li class="footer__box--menu__list--item">
                        <a href="" class="footer__box--menu__list--item__link"
                            >Privacy</a
                        >
                    </li>
                    <li class="footer__box--menu__list--item">
                        <a href="" class="footer__box--menu__list--item__link"
                            >Policy</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__box--src">
                <p>© Copyright PatioTime 2022.</p>
            </div>
        </div>
    </div>
</footer>
