<header class="header">
    <!-- Contact -->
    <div class="overlay" id="overlay"></div>
    <div class="header__contact--wrap">
        <div class="container-max">
            <div class="header__contact">
                <div class="header__contact--location">
                    <i class="fa-solid fa-location-dot"></i>
                    <span> Silks St, barbican, London EC2Y 8DS, UK </span>
                </div>
                <div class="header__contact--address">
                    <div class="header__contact--address__phone">
                        <i class="fa-solid fa-phone-flip"></i>
                        +39-055-123456
                    </div>
                    <div class="header__contact--address__mail">
                        <i class="fa-regular fa-envelope"></i>
                        booking@patiotime.com
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar -->
    <div class="container-max">
        <div class="header__navbar">
            <div class="header__navbar--logo">
                <a href="./index.html" class="">
                    <img src="./public/img/P-logo.png" alt="" />
                </a>
            </div>
            <ul class="header__navbar--menu" id="box-menu">
                <li class="header__navbar--menu__logo">
                    <a href="./index.html" class="">
                        <img src="./public/img/P-logo.png" alt="" />
                    </a>
                </li>
                <li class="header__navbar--menu__item">
                    <a href="#!" class="header__navbar--menu__link active">
                        <span> Home </span>
                        <!-- <i class="fa-solid fa-chevron-down"></i> -->
                    </a>
                </li>
                <li class="header__navbar--menu__item">
                    <a href="./about.html" class="header__navbar--menu__link">
                        <span> about </span>
                        <!-- <i class="fa-solid fa-chevron-down"></i> -->
                    </a>
                </li>
                <li class="header__navbar--menu__item">
                    <a href="./OurMenu.html" class="header__navbar--menu__link">
                        <span> Our Menu </span>
                    </a>
                </li>
                <li class="header__navbar--menu__item">
                    <a
                        href="./reservation.html"
                        class="header__navbar--menu__link"
                    >
                        <span> reservation </span>
                    </a>
                </li>
                <li class="header__navbar--menu__item">
                    <a href="./contact.html" class="header__navbar--menu__link">
                        <span> Contact </span>
                    </a>
                </li>
                <li class="header__navbar--menu__item">
                    <a href="./lastNew.html" class="header__navbar--menu__link">
                        <span> Latest news </span>
                    </a>
                </li>
                <li class="header__navbar--menu__close_btn" id="btn-close">
                    <i class="fa-solid fa-xmark"></i>
                </li>
            </ul>
            <div class="header__navbar--button">
                <a href="#!" class="btn btn--secondary">Find a table</a>
            </div>
            <div class="header__navbar--toggle" id="toggle">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Content -->
        <div class="header__content">
            <div class="header__content--layout"></div>
            <h2 class="header__content--heading">
                <i>Welcome</i> to <span>PatioTime</span> Café
            </h2>
            <p class="header__content--desc">
                We serve food,harmony, and laughter. Making delicious food and
                providing a wonderful eating experience since 1998.
            </p>
            <div class="header__content--link">
                <a
                    href=""
                    class="link__underline--hover header__content--link__view-menu"
                    >View menu</a
                >
                <a
                    href=""
                    class="link__underline--hover header__content--link__book-a-table"
                    >Book a table</a
                >
            </div>
        </div>

        <ul class="header__slide">
            <li class="header__slide--btn active" id="slideBtn1"></li>
            <li class="header__slide--btn" id="slideBtn2"></li>
        </ul>
    </div>
</header>
