<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/customers/css/style.css" />
        <title>Home</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Jost:wght@200;300;400;500;600&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        />
    </head>
    <body>
        <div class="wrapper">
            <!-- Header -->
            <%- include('../partials/header.ejs') %>
            <!-- /Header -->

            <!-- Main -->
            <main><%- body %></main>
            <!-- /Main -->

            <!-- footer -->
            <%- include('../partials/footer.ejs') %>
            <!-- /footer -->
        </div>
        <script>
            const toggle = document.querySelector('#toggle');
            const containerMenu = document.querySelector('#box-menu');
            const btnClose = document.querySelector('#btn-close');
            const overlay = document.querySelector('.overlay');

            if (toggle) {
                toggle.onclick = () => {
                    containerMenu.style.transform = ' translateX(0)';
                    overlay.style.display = 'block';
                };
            }

            if (btnClose) {
                btnClose.onclick = () => {
                    containerMenu.style.transform = ' translateX(100%)';
                    overlay.style.display = 'none';
                };
            }

            if (overlay) {
                overlay.onclick = () => {
                    containerMenu.style.transform = ' translateX(100%)';
                    overlay.style.display = 'none';
                };
            }
        </script>
    </body>
</html>
